{% load static %}
<div class="container shadow">
          <center>
	      <p><h5>Os atletas mais habilidosos de São Raimundo da Mangabeiras - MA</h5></p>
          </center>
	      <div class="row">
	          <div class="col-12 col-md-6">
	                <div class="card mt-1 shadow">
	                    <img class="card-img-top" src="{% static 'polls/images/ajustada1.jpg' %}" class="img-fluid" alt="Imagem responsiva">
	                    <div class="card-body">
                        <p class="card-text">Imagem ou vídeo 1.</p>
                        </div>
                    </div>
              </div>
              <div class="col-12 col-md-6">
                    <div class="card mt-1 shadow">
                        <img class="card-img-top" src="{% static 'polls/images/ajustada2.jpg' %}" class="img-fluid" alt="Imagem responsiva">
                        <div class="card-body">
                        <p class="card-text">Imagem ou vídeo 2.</p>
                        </div>
                  </div>
              </div>
          </div>
  </div>
  <footer class="text-white mt-3" style="background-color: #454545;">
        <div class="container">
            <div class="d-flex justify-content-around">
                <nav>
                    <ul class="col-sm-6 mt-3 list-unstyled">
                        <li><h4>Links</h4></li>
                        <li>Home</li>
                        <li>Eventos</li>
                        <li>Contato</li>
                    </ul>
                </nav>
                <nav>
                    <ul class="col-sm-6 mt-3 list-unstyled">
                        <li><h4>Vídeos</h4></li>
                        <li>Melhores momentos</li>
                        <li>Gol 1</li>
                        <li>Gol 2</li>
                        <li>Gol 3</li>
                    </ul>
                </nav>
            </div>
            <p class="text-center">futebolaabb-jw.herokuapp.com</p>
        </div>
    </footer>
